/* =========================
   FONTS
========================= */

@font-face {
    font-family: "Source Sans 3";
    src: url("../fonts/SourceSans3-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Source Sans 3";
    src: url("../fonts/SourceSans3-Black.ttf") format("truetype");
    font-weight: 900;
}

@font-face {
    font-family: "Cormorant Garamond";
    src: url("../fonts/CormoratGaramond.ttf") format("truetype");
    font-weight: 400;
}

.our-story-page {
    width: 100%;
}

.about-section {
    width: 100%;
    background-color: #ffffff;
    padding: 90px 20px 75px;
}

.about-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 90px;
}

.about-text {
    width: 48%;
}

.about-text h1 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 36px;
    font-weight: 900;
    color: #5b4530;
    margin-bottom: 18px;
}

.about-text p {
    font-family: "Cormorant Garamond", serif;
    font-size: 17px;
    line-height: 1.45;
    color: #5b4530;
    margin-bottom: 7px;
}

.about-image-box {
    width: 43%;
    position: relative;
    padding-top: 20px;
    padding-right: 20px;
}

.about-image-background {
    position: absolute;
    top: 0;
    right: 0;
    width: 95%;
    height: 90%;
    background-color: #edc9aa;
}

.about-main-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    position: relative;
    z-index: 2;
}

.story-gallery {
    width: 100%;
    background-color: #edc9aa;
    padding: 45px 20px;
}

.gallery-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.gallery-photo {
    width: 100%;
    height: 225px;
    overflow: hidden;
}

.gallery-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
}

.gallery-photo img:hover {
    transform: scale(1.03);
}

.story-section {
    width: 100%;
    background-color: #ffffff;
    padding: 55px 20px 110px;
}

.story-content {
    width: 100%;
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
}

.story-content h2 {
    font-family: "Source Sans 3", sans-serif;
    font-size: 34px;
    font-weight: 900;
    color: #5b4530;
    margin-bottom: 35px;
}

.story-content p {
    font-family: "Cormorant Garamond", serif;
    font-size: 17px;
    line-height: 1.45;
    color: #5b4530;
}
